body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Button.keypad-button {
  width: 50px;
  height: 50px;
}

Button.keypad-button-submit {
  height: 50px;
  display: block;
  width: 100%;
  background-color: green;
}

Input.display-input {
  height: 50px;
}
